[Unit]
Description=Logspout
After=docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
Environment="LOGSPOUT_IMAGE=goodeggs/logspout-goodeggs:ba137c4"
EnvironmentFile=/etc/goodeggs-environment
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=5
ExecStartPre=-/usr/bin/docker kill logspout
ExecStartPre=-/usr/bin/docker rm logspout
ExecStartPre=/usr/bin/docker pull ${LOGSPOUT_IMAGE}
ExecStart=/usr/bin/docker run --name logspout \
  --env DEBUG=1 \
  --env LOGSPOUT=ignore \
  --env INACTIVITY_TIMEOUT=1m \
  --volume=/var/run/docker.sock:/tmp/docker.sock \
  ${LOGSPOUT_IMAGE} "sumo://${LOGSPOUT_SUMO_TOKEN}/?host=%H"
ExecStop=/usr/bin/docker stop logspout
